@model MyWebsite.Models.BlogPost

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Title</h2>

<div>
   <img src="@Model.Image" style="width : 50%" class="img-responsive thumbnail text-center"/>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>  

    </dl>
    @Html.Partial("_ViewComment", new MyWebsite.Models.CommentsViewModel { Comments = Model.Comments.ToList() })
    @{ 
        if (Request.IsAuthenticated)
        {
            @Html.Partial("_CreateComment", new MyWebsite.Models.Comment { })
        }
        else {
            <p class="col-md-12 col-md-offset-1"> @Html.ActionLink("Login","Login","Account") to post comments. </p>
        }

            }

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>